.hey{
    img{
        width: 55%;
        object-position: 50% 20%;
    }
}
.basicContainer{
    display: flex;
    gap: 2rem;

    .dFlex{
        display: flex;
        gap: 2rem;
        margin-top: 50px;
    
        @include respond-to(md){
            flex-direction: column;
        }
    }
   
    img{
       
        height: 400px;
        
        @include respond-to(md){
            width: 100%;
        }
    }

    .basicTextContent{
        width: 80%;

        .heading-style-h4 {
            font-size: 2.5rem;
            font-weight: 400;
            @include respond-to(md) {
               font-size: 1.8rem;
              }
        
           
        }
        .heading-style-h2{
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 4rem;
            font-weight: 400;
            line-height: 1;
            @include respond-to(md) {
                font-size: 3rem;
               }
        }

        .basicTextBig{
            opacity: .85;
            margin-bottom: 0;
            font-size: 1.05rem;
        }
    }
    @include respond-to(md) {
        flex-direction: column;
      }

      .basicTextContent{
        color: #fff;
      }

}


.info-line-p_line {
    z-index: 3;
    background-color: $btn-clr;
    width: 5rem;
    height: 1px;
    position: relative;
    width: 430px;

    @include respond-to(sm){
        width: 9rem;
    }
}
.margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.dFlexe{
    width: 100%;
   
}