.heroContainer {
    position: relative;
    width: 100%;
    height: 80vh;
    top: -110px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
  
    .heroImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      object-position: 0 -100px;
      top: 0;
      right: 0;

      @include respond-to(xl){
        object-position: 0 20%;
      }
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 2;
    }
  
    .heroContent {
      position: relative;
      z-index: 1;
      text-align: center;
      color: #fff;
      z-index: 2;
        width: 50%;
      bottom: -90px;
        @include respond-to(sm) {
          width:80%;
          position: absolute;
          left: 40%;
            }
      .heroTextBig {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-family: "Jost", sans-serif;
        font-size: 2.75rem;
        font-weight: 700;
        line-height: 1;
        text-align: left;

        @include respond-to(xl, min){
        font-size: 4.75rem;
          
        }
        @include respond-to(md) {
          font-size: 3rem;
            }
      }
  
      .heroTextSmall {
       text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-family: "Jost", sans-serif;
    text-align: left;

    font-weight: 400;
    line-height: 1.15;

    @include respond-to(xl, min){
      font-size: 2.75rem;
        
      }
      }
    }
  }
  
  .leftoverlay{
    position: absolute;
    z-index: 4;
    background-image: linear-gradient(to left, rgba(10, 2, 3, 0), #0A0203);
    height: 101%;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: -1px;
    left: 0;
    right: auto;
  }


  .text-no-wrap {
    text-transform: capitalize;
  }

  .customHeroStyle{
    color: $primary-color !important;
  }
  .custom-footer{
    margin-top: 15vh;
  }