$primary-color: #1E1E1E;
$secondary-color: #ccc;
$accent: #ffa500;
$white:#ffffff;
$font-stack: Helvetica, sans-serif;
$container-max-width: 1200px;
$container-padding: 20px;
$color-logo:#b18f46 ;
$container-max-width: 1440px;
$container-padding: 20px;
$btn-clr:#b18f46;

// @font-face {
//     font-family: 'MTN Bright Sans';
//     src: url('../fonts/MTN-Brighter-Sans/mtn-brighter-sans-light.otf') format('opentype');

//     font-weight: 100;
//   }
//   @font-face {
//     font-family: 'MTN Bright Sans';

//   src: url('../fonts/MTN-Brighter-Sans/mtn-brighter-sans-regular.otf') format('opentype');
//   font-weight:400;
// }  
//   @font-face {
//       font-family: 'MTN Bright Sans';

//     src: url('../fonts/MTN-Brighter-Sans/mtn-brighter-sans-bold.otf') format('opentype');
//     font-weight: 700;
//   }

//   @font-face {
//     font-family: 'MTN Bright Sans';

//   src: url('../fonts/MTN-Brighter-Sans/mtn-brighter-sans-medium.otf') format('opentype');
//   font-weight:500;
// }

